<html>
	<head>
		<title> Maayree's Blog</title>
	</head>
	<body>
		<div>
			<h1><em><a href="">Maayree's Blog</a></em></h1>
		</div>

		<div>
			<p><strong> Welcome to a world of changed mindsets </strong></p>
			<p> created: 09.06.2016, 11:00</p>
		</div>

		<div>
			<h2><a href="">My First Post</a></h2>
			<p> A brief Welcome note/post describing the reason for the blog and all you need to know about maayree's blog</p>
		</div>

		<div>
			<h3><a href="">My Second Post</a></h3>
			<p> Ever felt like you have no place or one to vent all your problems and worries to? well, your wishes have come true. I am here for you</p>
		</div> 
	</body>
</html>